<header class="header-design" style="position: relative;">
    <div class="listar-map-button">
        <div class="listar-map-button-text" style="display: inline-block; opacity: 1;">
            <span class="icon-map2">
          ¿Cómo funciona? </span>
        </div>
    </div>

    <div class="footer-wave"></div>
</header>
<div class="pset">
    <div class="container">
        <div class="row listar-feature-items" style="width: 100%; overflow: hidden;padding-top: 74px;">

            <div class="col-xs-12 col-sm-6 col-md-4 listar-feature-item-wrapper listar-feature-with-image listar-height-changed" data-aos="fade-zoom-in" data-aos-group="features" data-line-height="25.2px">
                <div class="listar-feature-item listar-feature-has-link">

                    <a href="https://bit.ly/3aX1PHf" target="_blank"></a>

                    <div class="listar-feature-item-inner">

                        <div class="listar-feature-right-border"></div>

                        <div class="listar-feature-block-content-wrapper">
                            <div class="listar-feature-icon-wrapper">
                                <div class="listar-feature-icon-inner">
                                    <div>
                                        <img alt="Businesses" class="listar-image-icon" src="assets/polloicon.webp">
                                    </div>
                                </div>
                            </div>

                            <div class="listar-feature-content-wrapper" style="padding-top: 0px;">

                                <div class="listar-feature-item-title listar-feature-counter-added">
                                    <span><span>01</span> Preparación </span>
                                </div>

                                <div class="listar-feature-item-excerpt">
                                    Prepacion con altos estandares de limpieza, nuestros procedimientos garantizan un ambiente libre de Covid-19</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="listar-feature-fix-bottom-padding listar-fix-feature-arrow-button-height"></div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 listar-feature-item-wrapper listar-feature-with-image listar-height-changed" data-aos="fade-zoom-in" data-aos-group="features" data-line-height="25.2px">
                <div class="listar-feature-item listar-feature-has-link">

                    <a href="https://bit.ly/3aX1PHf" target="_blank"></a>

                    <div class="listar-feature-item-inner">

                        <div class="listar-feature-right-border"></div>

                        <div class="listar-feature-block-content-wrapper">
                            <div class="listar-feature-icon-wrapper">
                                <div class="listar-feature-icon-inner">
                                    <div>
                                        <img alt="Customers" class="listar-image-icon" src="assets/delivery1.webp">
                                    </div>
                                </div>
                            </div>

                            <div class="listar-feature-content-wrapper" style="padding-top: 0px;">

                                <div class="listar-feature-item-title listar-feature-counter-added">
                                    <span><span>02</span> Envío </span>
                                </div>

                                <div class="listar-feature-item-excerpt">
                                    Nuestro sistema de delivery se realiza con vehiculos adaptados con implemetos de seguridad biologica. </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="listar-feature-fix-bottom-padding listar-fix-feature-arrow-button-height"></div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 listar-feature-item-wrapper listar-feature-with-image listar-height-changed" data-aos="fade-zoom-in" data-aos-group="features" data-line-height="25.2px">
                <div class="listar-feature-item listar-feature-has-link">

                    <a href="https://bit.ly/3aX1PHf" target="_blank"></a>

                    <div class="listar-feature-item-inner">

                        <div class="listar-feature-right-border"></div>

                        <div class="listar-feature-block-content-wrapper">
                            <div class="listar-feature-icon-wrapper">
                                <div class="listar-feature-icon-inner">
                                    <div>
                                        <img alt="Feedback" class="listar-image-icon" src="assets/seguridad.webp">
                                    </div>
                                </div>
                            </div>

                            <div class="listar-feature-content-wrapper" style="padding-top: 0px;">

                                <div class="listar-feature-item-title listar-feature-counter-added">
                                    <span><span>03</span> Sistema </span>
                                </div>

                                <div class="listar-feature-item-excerpt">
                                    Monitoreo y transmision en vivo de proceso de preparacion y envio. Todos los envios son entregados con certificado de calidad</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="listar-feature-fix-bottom-padding listar-fix-feature-arrow-button-height"></div>
            </div>
        </div>
    </div>
</div>