<app-menu></app-menu>

<div id="particles-js" style="height: 80%;"></div>

<div class="section sech" style="height: 80vh;">
    <div class="row mar" style="height: 100%;width: 100%;">
        <div class="col-sm-5" style="margin: auto;">
            <div style="margin: auto;">
                <div class="row" style="margin-right: auto;">
                    <h2 class="hid" style="font-size: 45px;">Real Chicken</h2>
                </div>
                <div class="row esho">
                    <h2 class="textc cursi">El sabor del verdadero pollo a la brasa</h2>
                    <h2 class="textc" style=" font-size: 20px;">Verificamos todo el proceso con protocolos para Covid-19. Trasmitimos la preparación de tu pedido EN VIVO</h2>
                    <p class="textc">H. de entrega (Lun-Sab, 10am-6pm)</p>
                </div>
                <div class="row" style="margin-right: auto; margin-top: 15px;">
                    <div style="margin: auto;">
                        <a class="boton" style="font-size: 15px; font-weight: bold;margin-bottom: 20px;">Ver&nbsp;En&nbsp;Vivo</a>
                        <a href="#tienda" class="boton" style="font-size: 15px; font-weight: bold;margin-bottom: 20px;">Ver&nbsp;Tienda</a>
                    </div>


                </div>
            </div>
        </div>
        <div class="col-sm-5" style="margin: auto;">
            <img src="assets/delivery.webp" height="100%" width="100%">

        </div>
    </div>
</div>
<app-comofunciona></app-comofunciona>
<app-items></app-items>
<app-carrito></app-carrito>
<app-admin></app-admin>